<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily Cricket News</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
            font-size: 24px;
        }
    </style>
</head>
<body>
    <h1>Daily Cricket News</h1>
    <p>Click the button below to receive the latest cricket news in your email:</p>
    <form action="/get_daily_news" method="post">
        <button type="submit">Get Daily News</button>
    </form>
    {% if message %}
        <p> response status code: {{ status }}</p>
        <p> message: {{ bethanMessage }}</p>
    {% endif %}
    <b>daily bethan message</b>: {{ bethanMessage }}
    <p><img src="{{ url_for('static', filename='junimo.jpeg') }}" /></p>
</body>
</html>
